<!-- USER LOGIN PAGE: -->
<div class="" style="text-align: center">

    <h1>User login:</h1>
    <form ng-submit="done()">
        <h3>email:</h3>
        <input class="form-control" type="text" ng-model="email" id="loginInputField" required autofocus>
        <h3>password:</h3>
        <input class="form-control" type="password" ng-model="password" id="loginInputField" required autofocus>
        <br>
        <input class="btn btn-default" type="submit" id="loginOKBtn" value="Ok">
    </form>
    <br>
    <form ng-submit="click()">
      <input class="btn btn-default" type="submit" id="createUserBtn" value="Create an account">
    </form>
</div>
